@charset "UTF-8";
/*ACA COMIENZA VARIABLES*/
/* COLORS*/
/*SPACING*/
/*FUENTES*/
/*BORDER*/
/*ACA TERMINAN VARIABLES*/
/*ACA COMIENZA MIXIN*/
/*TEXTO HEADER*/
/*BUTTONS*/
/*ACA TERMINA MIXINS*/
/*ACA COMIENZAN LAS FUNCTIONS*/
/*BANNER - HEADER */
.banner__home {
  width: 100%;
  height: 30rem;
  background-image: url("../img/banner_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__servicios {
  width: 100%;
  height: 30rem;
  background-image: url("../img/banner_servicios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__job {
  width: 100%;
  height: 30rem;
  background-image: url("../img/banner_job.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__contacto {
  width: 100%;
  height: 30rem;
  background-image: url("../img/banner_contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__nosotros {
  width: 100%;
  height: 30rem;
  background-image: url("../img/banner_nosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*ACA TERMINAN LAS FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ACA COMIENZA NAVBAR*/
.navbar {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 8px black;
}

.navbar__logo {
  justify-content: space-between;
}

.navbar__img {
  width: 5rem;
}

.navbar__text {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  color: #fff;
}

.navbar__text:hover {
  color: #01838f;
}

.navbar__prop {
  color: #fff;
  font-weight: 500;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 1% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .5s;
}

.navbar__prop:hover, .navbar__prop:focus {
  background-size: 95% 2px;
  color: #01838f;
}

.navbar__prop-active {
  color: #01838f;
  background-position: 0% 100%;
  background-size: 95% 2px;
}

/*ACÁ TERMINA NAVBAR*/
/*INICIA EL FOOTER*/
.footer {
  width: 100%;
  padding: 50px;
  margin-top: 2rem 0px;
  background-image: url("../img/background-footer.svg");
  background-size: cover;
  bottom: 0;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
  font-size: small;
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: #343434;
}

.footer__img {
  width: 8rem;
}

.footer_termstext {
  max-width: 20rem;
  margin-top: 1rem;
  color: #555353;
  font-weight: 700;
}

.footer_anchor {
  margin-top: 10px;
  padding: 5px 5px;
  font-weight: 600;
  color: #555353;
}

.footer_anchor:hover {
  opacity: 0.8;
  color: #01838f;
}

.footer__boxlogo {
  width: 100%;
}

.footer_box a .fa-brands {
  font-size: 20px;
}

.navbar__text-footer {
  color: black;
}

/*ACA TERMINA FOOTER*/
/*FORMULARIO CONTACTO*/
.form {
  background-color: #c4cae0;
  border-radius: 20px;
  max-width: 60%;
  margin: 2rem auto;
}

.form__container {
  display: flex;
  justify-content: space-between;
}

.form_inputs {
  margin: 0 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-bottom: 2rem;
}

.form__legend {
  color: black;
  font-size: 50px;
  margin: 1rem auto;
  text-align: center;
}

.form__input {
  border-radius: 20px;
  width: 15rem;
  height: 3rem;
  background-color: #d2dfe7;
  font-size: large;
  text-align: center;
  color: black;
}

.form__textarea {
  width: 60%;
  border-radius: 20px;
  background-color: #d2dfe7;
  font-size: large;
  color: black;
  padding: 15px;
}

.form__label {
  font-size: large;
}

.form__img {
  width: 1rem;
}

/*ACA TERMINA FORM CONTACTO*/
/*ACA EMPIEZA HERO*/
.conteiner {
  overflow: hidden;
  max-width: 1200px;
}

.hero {
  height: auto;
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero__container {
  display: flex;
  align-items: flex-start;
  color: white;
  gap: 1rem;
}

.hero__titulo {
  padding-left: 2rem;
  color: white;
  font-size: 3.2em;
  text-shadow: 0 0 15px black;
}

.hero__parrafo {
  padding-left: 2rem;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 15px black;
}

.hero__cta {
  background-color: #fff;
  color: black;
  padding: 1rem 3rem;
  border-radius: 20px;
  align-self: center;
  text-decoration: none;
}

.hero__cta:hover {
  background-color: #01838f;
  color: white;
}

.hero__wave {
  position: absolute;
  padding-top: 2rem;
  bottom: -1px;
  width: 100%;
  height: 100px;
}

/*ACA TERMINA HERO*/
/*ACA COMIENZA PRESENTATION*/
.presentation {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 2rem;
}

.presentation__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.presentation__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: center;
}

.presentation__img {
  width: 30rem;
}

/*ACA TERMINA PRESENTATION*/
/*ACA INICIA ABOUT*/
.about {
  background-color: #f2f2f2;
  margin-bottom: 3rem;
  padding: 1rem;
}

.about__grid {
  display: grid;
  height: 550px;
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
  gap: 10px;
}

.about__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about__item:nth-of-type(1) {
  grid-area: img1;
}

.about__item:nth-of-type(2) {
  grid-area: img2;
}

.about__item:nth-of-type(3) {
  grid-area: img3;
}

.about__item:nth-of-type(4) {
  grid-area: img4;
}

.about__item:nth-of-type(5) {
  grid-area: img5;
}

.about__item:hover .about__hover {
  transform: translateX(0%);
  color: #093438;
}

.about__title {
  text-align: center;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.about__hover {
  position: absolute;
  background: #01838fa3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 1s;
  cursor: pointer;
}

.about__icon {
  margin-top: 10px;
  font-size: 30px;
}

/*ACA TERMINA ABOUT*/
/*ACA EMPIEZA EMPLEOS*/
.empleos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.empleos__banner {
  align-items: center;
}

.empleos__bantittle {
  font-weight: bolder;
  margin: 3rem;
  color: white;
  font-size: 3.2em;
  text-shadow: 0 0 15px black;
}

.empleos__titulo {
  margin: 3rem;
  font-family: sans-serif;
}

.empleos__cuadros {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 300px 300px 300px;
  gap: 1rem;
}

.empleos__contenido {
  list-style: none;
  margin: 5px;
}

.empleos__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #01838f;
}

.empleos__nombreposicion {
  text-align: center;
}

.empleos__input {
  border-radius: 20px;
  width: 8rem;
  height: 2rem;
  background-color: #6c6969;
  color: white;
  font-size: large;
  text-align: center;
  align-self: center;
}

.empleos__input:hover {
  background-color: #01838f;
}

/*ACA TERMINA EMPLEOS*/
/*CSS SERVICIOS*/
.servicios {
  border: black;
  display: flex;
  flex-direction: column;
}

.servicios__titulo {
  color: white;
  font-size: 3.2em;
  text-shadow: 0 0 15px black;
}

.servicios__box {
  display: flex;
  justify-content: space-evenly;
  animation-duration: 3s;
  animation-name: slidein;
}

.servicios__container {
  border-width: thick;
  width: 55vh;
  border-radius: 20px;
  background-color: rgba(182, 160, 224, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 0 25px rgba(168, 178, 211, 0.7);
  margin-bottom: 3rem;
  padding: 0.5rem;
}

.servicios__icon {
  width: 3rem;
}

.servicios__titcontainer {
  font-family: sans-serif;
  text-align: center;
}

.servicios__parrafo {
  text-align: center;
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*ACA TERMINA CSS SERVICIOS*/
.contacto__title {
  margin: 3rem;
  color: white;
  font-size: 3.2em;
  text-shadow: 0 0 15px black;
}

.banner__contacto {
  background-position: right;
}

/*CSS NOSOTROS*/
.nosotros__titulo {
  position: absolute;
  margin-bottom: 3rem;
  color: white;
  font-size: 3.2em;
  text-shadow: 0 0 15px black;
}

.nosotros__infcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  right: 50%;
  width: auto;
}

.nosotros__informacion {
  overflow: hidden;
}

.nosotros__infoimg {
  width: 20rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.nosotros__titsecundario {
  width: 25%;
  margin-bottom: 3rem;
  overflow: hidden;
}

.nosotros__mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  overflow: hidden;
}

.nosotros__parrafo {
  width: 35%;
  border: 1px solid #01417c;
  border-radius: 20px;
  color: black;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 3rem;
  overflow: hidden;
}

.nosotros__historia {
  background-image: url("../img/background_historia.jpg");
  max-width: 80%;
  margin: auto;
  font-size: medium;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.nosotros__contacto {
  background-color: #c4cae0;
  border-radius: 20px;
  max-width: 60%;
  height: 16rem;
  margin: 4rem auto;
}

.nosotros__adjunto {
  border-radius: 20px;
  width: 15rem;
  height: 3rem;
  background-color: #d2dfe7;
  color: #1a012c;
  font-size: large;
  text-align: center;
  padding-top: 14px;
}

/*ACA TERMINA CSS NOSOTROS*/
/*RESPONSIVE*/
@media screen and (min-width: 1024px) {
  .hero__titulo {
    max-width: 100%;
  }
  .hero__btncontainer {
    width: 50%;
    gap: 50px;
    padding-left: 0;
  }
  /*SERVICIOS*/
  .servicios__container {
    width: 65vh;
  }
  .servicios__box {
    font-size: 19px;
  }
  .servicios__titcontainer {
    font-size: 25px;
  }
  .servicios__icon {
    width: 5rem;
  }
  /*NOSOTROS*/
  .nosotros__contacto {
    max-width: 70%;
    height: auto;
  }
  /*CONTACTO*/
  .contacto__title {
    background-position-x: right;
  }
}

@media screen and (max-width: 768px) {
  /*INDEX*/
  .hero__titulo {
    max-width: 100%;
    font-size: 2rem;
  }
  .hero__parrafo {
    max-width: 100%;
  }
  .navbar__img {
    margin-bottom: 2rem;
  }
  .presentation {
    padding: 1rem;
  }
  /*CONTACTANOS*/
  .form {
    max-width: 80%;
  }
  .form__legend {
    margin: 0;
    font-size: 3rem;
  }
  .form__contact {
    max-width: 90%;
    height: auto;
  }
  .form_inputs {
    padding-bottom: 1rem;
  }
  .form__input {
    margin-top: 1rem;
  }
  .form__textarea {
    margin-top: 1rem;
    width: 60%;
  }
  .banner__contacto {
    height: 20rem;
  }
  .contacto__title {
    font-size: 2rem;
  }
  /*NOSOTROS*/
  .nosotros__historia {
    max-width: 80%;
  }
  .nosotros__contacto {
    max-width: 90%;
    height: auto;
  }
  .nosotros__parrafo {
    width: 35%;
    background-color: #6c9aab;
    color: white;
  }
  .banner__nosotros {
    height: 20rem;
  }
}

@media screen and (max-width: 425px) {
  /*INDEX*/
  .footer {
    padding: 5px;
  }
  .footer__container {
    flex-direction: column;
  }
  .hero {
    font-size: medium;
    text-align: center;
    background-position: center;
    background-size: cover;
    justify-content: center;
  }
  .hero__titulo {
    max-width: 100%;
  }
  .hero__parrafo {
    opacity: 0;
    height: 0;
  }
  .hero__btn {
    border-radius: 2rem;
    padding: 10px;
    background-color: rgba(168, 178, 211, 0.7);
    font-size: medium;
  }
  .presentation__container {
    flex-direction: column;
  }
  .presentation__texts {
    width: 80%;
  }
  .presentation__img {
    width: 20rem;
  }
  .about__grid {
    grid-template-areas: "img1" "img1" "img1" "img1" "img1" "img2" "img2" "img3" "img3" "img4" "img4" "img5" "img5";
  }
  img, svg {
    width: 65vh;
  }
  /*JOBS*/
  .empleos__cuadros {
    grid-template-columns: 350px;
    grid-template-rows: 300px;
    margin-bottom: 2rem;
  }
  .empleos__bantittle {
    text-shadow: none;
    color: black;
    text-align: center;
    top: 25%;
    left: 35%;
    font-size: 2rem;
  }
  .empleos__item {
    align-items: center;
  }
  .empleos__titulo {
    margin: auto;
  }
  .banner__job {
    background-image: none;
    height: 5rem;
  }
  .navbar__img {
    width: 3rem;
  }
  /*SERVICIOS*/
  .servicios__header {
    background-image: none;
    height: 4rem;
    margin-top: 1rem;
  }
  .servicios__titulo {
    color: black;
    font-size: 2rem;
    text-shadow: none;
    text-align: center;
  }
  .servicios__box {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .servicios__container {
    padding: 0;
  }
  /*FORM - CONTACTO*/
  .contacto__title {
    font-size: 2rem;
    width: 100%;
    margin: 0;
    text-shadow: none;
    color: black;
    text-align: center;
  }
  .banner__contacto {
    background-image: none;
    height: 4rem;
  }
  .form__legend {
    margin: 0;
    text-align: center;
    font-size: 2rem;
  }
  .form__contact {
    max-width: 95%;
    height: auto;
  }
  .form_inputs {
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  .form__textarea {
    width: 15rem;
  }
  /*NOSOTROS*/
  .nosotros__titulo {
    color: black;
    text-align: center;
    text-shadow: none;
    margin-bottom: 0;
  }
  .nosotros__infcenter {
    flex-direction: column;
    margin-top: 0;
  }
  .nosotros__titsecundario {
    width: 100%;
    text-align: center;
  }
  .nosotros__mission {
    flex-direction: column;
  }
  .nosotros__parrafo {
    width: 100%;
    margin-top: 1rem;
  }
  .nosotros__historia {
    max-width: 80%;
    margin-left: 0;
    text-align: center;
    margin: auto;
  }
  .nosotros__contacto {
    background-color: rgba(168, 178, 211, 0.7);
    border-radius: 20px;
    max-width: 90%;
    height: auto;
    margin: 4rem auto;
  }
  .banner__nosotros {
    background-image: none;
    height: 8rem;
  }
}

@media screen and (max-width: 320px) {
  /*INDEX*/
  .hero {
    height: auto;
    padding: 0;
    padding-top: 2rem;
    text-align: inherit;
  }
  /*SERVICIOS*/
  .servicios__titulo {
    font-size: 2rem;
  }
  .servicios__container {
    width: 55vh;
  }
  .servicios__header {
    background-image: none;
    height: 4rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  /*CONTACTO*/
  .form__contact {
    width: 95%;
  }
  .form_legend {
    font-size: 40px;
  }
  /*NOSOTROS*/
  .nosotros__titulo {
    color: black;
    padding-bottom: 1rem;
  }
  .nosotros__infcenter {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .nosotros__titsecundario {
    width: 95%;
    text-align: center;
  }
  .nosotros__mission {
    flex-direction: column;
  }
  .nosotros__missionimg {
    width: 95%;
  }
  .nosotros__parrafo {
    width: 95%;
    margin-top: 1rem;
  }
  .nosotros__historia {
    max-width: 80%;
    margin-left: 0;
    margin: auto;
    text-align: center;
  }
  .nosotros__contacto {
    background-color: #a8b2d3;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    margin: 4rem auto;
  }
  .banner__nosotros {
    height: 8rem;
  }
  /*JOBS*/
  .empleos__bantittle {
    top: 15%;
  }
}
