/*ACA COMIENZAN LAS FUNCTIONS*/

/*BANNER - HEADER */
@each $section in home, servicios, job, contacto, nosotros {
    .banner__#{$section}{
        width: 100%;
        height: 30rem;      
        background-image: url("../img/banner_#{$section}.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: $block-space;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*ACA TERMINAN LAS FUNCTIONS*/
