/*ACA COMIENZA VARIABLES*/

/* COLORS*/

$base-color: #01838f;
$form-bccolor: #c4cae0;
$form-inputs: #d2dfe7;

/*SPACING*/

$block-space: 3rem;

/*FUENTES*/

$fuente-normal: 1em;
$fuente-chica:0.8em;
$fuente-grande: 1.8em;

/*BORDER*/
$border: 20px;

/*ACA TERMINAN VARIABLES*/