/*ACA COMIENZA NAVBAR*/

.navbar {
    background-color: rgba(0,0,0,0); 
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
    &__logo{
    justify-content: space-between;
    }
    &__img{
        width: 5rem;        
    }
    &__text{
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
        color: #fff;
        &:hover{
            color: $base-color;
        }
    }
    &__prop {
        color: #fff;
        font-weight:500;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 1% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .5s;
        &:hover, &:focus {
            background-size: 95% 2px;
            color: $base-color;
        }
        &-active{
            color: $base-color;
            background-position: 0% 100%;
            background-size: 95% 2px;
        }
    }
}



/*ACÁ TERMINA NAVBAR*/