/*RESPONSIVE*/

@media screen and (min-width: 1024px){

    .hero__titulo{
        max-width: 100%;
    }
    
    .hero__btncontainer {
        width: 50%;
        gap: 50px;
        padding-left: 0;
    }

    /*SERVICIOS*/

    .servicios{
        &__container{
            width: 65vh;
        }
        &__box {
            font-size: 19px;
        }
        &__titcontainer{
            font-size: 25px;
        }
        &__icon{
            width: 5rem;
        }
    }

    /*NOSOTROS*/

    .nosotros__contacto {
        max-width: 70%;
        height: auto;
    }

    /*CONTACTO*/
    .contacto__title{
        background-position-x: right;
    }    
}

@media screen and (max-width: 768px){
    
    /*INDEX*/
    .hero{
        &__titulo{
            max-width: 100%;
            font-size: 2rem;        
        }        
        &__parrafo{
            max-width: 100%;
        }
    }    

    .navbar__img {
        margin-bottom: 2rem;
    }

    .presentation{
        padding: 1rem;
    }

    /*CONTACTANOS*/

    .form{
        max-width: 80%;
        &__legend {
            margin: 0;
            font-size: 3rem;
        }    
        &__contact{
            max-width: 90%;
            height: auto;
        }
        &_inputs{
            padding-bottom: 1rem;
        }    
        &__input{
            margin-top: 1rem;
        }    
        &__textarea{
            margin-top: 1rem;   
            width: 60%;
        }
    }

    .banner__contacto{
        height: 20rem;
    }
    .contacto__title{
        font-size: 2rem;
    }

    /*NOSOTROS*/
    .nosotros{
        &__historia{
            max-width: 80%;

        }
        &__contacto{
            max-width: 90%;
            height: auto;
        }
        &__parrafo {
            width: 35%;
            background-color: #6c9aab;
            color: white;
        }
    }
    .banner__nosotros{
        height: 20rem;
    }

}

@media screen and (max-width: 425px) {
    
    /*INDEX*/
    .footer{
        padding: 5px;
    }
    
    .footer__container{
        flex-direction: column;
    }

    .hero{
        font-size: medium;
        text-align: center;
        background-position: center;
        background-size: cover;
        justify-content:center;
        &__titulo{
            max-width: 100%;
        }    
        &__parrafo{
            opacity: 0;
            height: 0;           
        }  
        &__btn{        
            border-radius: 2rem;
            padding: 10px;
            background-color: rgba(168, 178, 211, 0.7);
            font-size:medium;               
        }
     
    }
    .presentation{
        &__container{
            flex-direction: column;
        }
        &__texts{
            width: 80%;
        }
        &__img{
            width: 20rem;
        }
    }

    .about{
        &__grid{
            grid-template-areas: 
            "img1"
            "img1"
            "img1"
            "img1"
            "img1"
            "img2"
            "img2"
            "img3"
            "img3"
            "img4"
            "img4"
            "img5"
            "img5";
        }
    }

    

    img, svg {
        width: 65vh;
    }

    /*JOBS*/
        
    .empleos{
        &__cuadros{
            grid-template-columns: 300px;
            grid-template-rows: 300px;
            margin-bottom: 2rem;
        }
        &__bantittle{
            text-shadow: none;
            color: black;
            text-align: center;
            top: 25%;
            left: 35%;
            font-size: 2rem;
        }
        &__item{
            align-items: center;
        }
        &__titulo{
            margin: auto;
        }
    }
    .banner__job{
        background-image: none;
        height: 5rem;
    }
   

    .navbar__img {
        width: 3rem;
    }

    /*SERVICIOS*/

    .servicios{
        &__header{
            background-image: none;
            height: 4rem;
            margin-top: 1rem;
        }    
        &__titulo{
            color: black;
            font-size: 2rem;
            text-shadow: none;
            text-align: center;
        }
        &__box {
            flex-direction: column;
            gap: 3rem;
            align-items: center;
            margin-bottom: 4rem;
        }
        &__container{
            padding: 0;            
        }
    }
    

    /*FORM - CONTACTO*/

    .contacto__title{
        font-size: 2rem;
        width: 100%;
        margin: 0;
        text-shadow: none;
        color: black;
        text-align: center;
    }
    .banner__contacto{
        background-image: none;
        height: 4rem;
    }

    .form{
        &__legend {
            margin: 0;
            text-align: center;
            font-size: 2rem;
        }    
        &__contact{
            max-width: 95%;
            height: auto;
        }    
        &_inputs{
            flex-direction: column;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }    
        &__textarea{
            width: 15rem;
        }
    }
    

    /*NOSOTROS*/

    .nosotros{
        &__titulo{
            color: black;
            text-align: center;
            text-shadow: none;
            margin-bottom: 0;
        }
        &__infcenter{
            flex-direction: column;
            margin-top: 0;
        }
        &__titsecundario{
            width: 100%;
            text-align: center;
        }
        &__mission{
            flex-direction: column;
        }
        &__parrafo{
            width: 100%;
            margin-top: 1rem;
        }
        &__historia{
            max-width: 80%;
            margin-left: 0;
            text-align: center;
            margin: auto;
        }
        &__contacto{
            background-color: rgba(168, 178, 211, 0.7);
            border-radius: 20px;
            max-width: 90%;
            height: auto;
            margin: 4rem auto;
        }
    }
    .banner__nosotros{
        background-image: none;
        height: 8rem;
    }
    

}

@media screen and (max-width: 320px) {
    
    /*INDEX*/
    .hero{
     height: auto; 
     padding: 0;
     padding-top: 2rem;
     text-align: inherit;  
    }


    /*SERVICIOS*/

    .servicios{
        &__titulo{
            font-size: 2rem;
        }
        &__container{
            width: 55vh;
        }
        &__header{
            background-image: none;
            height: 4rem;
            margin-top: 1rem;
            padding: 1rem;
        }
    }


    /*CONTACTO*/

    .form{
        &__contact{
            width: 95%;
        }
        &_legend{
            font-size: 40px;
        }
    }

    

    /*NOSOTROS*/

    .nosotros{
        &__titulo{
            color: black;
            padding-bottom: 1rem;
        }
        &__infcenter{
            flex-direction: column;
            align-items: center;
            width: 95%;
        }
        &__titsecundario{
            width: 95%;
            text-align: center;
        }
        &__mission{
            flex-direction: column;
        }
        &__missionimg{
            width: 95%;
        }
        &__parrafo{
            width: 95%;
            margin-top: 1rem;
        }
        &__historia{
            max-width: 80%;
            margin-left: 0;
            margin: auto;
            text-align: center;
        }
        &__contacto{
            background-color: rgb(168, 178, 211);
            border-radius: 20px;
            max-width: 100%;
            height: auto;
            margin: 4rem auto;
        }   
    }
    .banner__nosotros{
        height: 8rem;
    }

    /*JOBS*/
    .empleos{
        &__bantittle{
            top: 15%;
        }
    }
}


