/*CSS SERVICIOS*/

.servicios{
    
     border: black;
     display: flex;
     flex-direction: column;
     
 
 }
 
 .servicios__titulo{
    align-self: center; 
    margin-bottom: 8rem;
 }
 
 .servicios__box{
 
     display: flex;
     justify-content: space-evenly;
 }
 
 .servicios__container{
 
     border-width: thick;
     width: 55vh;
     border-radius: 20%;
     background-color: rgba(182, 160, 224,0.1);
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: 1rem;
     align-items: center;
     box-shadow: 0 0 25px rgba(168, 178, 211, 0.7);
     margin-bottom: 2rem;
 }
 
 .servicios__icon{
     width: 3rem;
 }
 
 .servicios__titcontainer{
 
     font-family: sans-serif;
     text-align: center;
 }
 
 .servicios__parrafo{
     text-align: center;
 }
 
 /*ACA TERMINA CSS SERVICIOS*/