/*CSS SERVICIOS*/

.servicios{
    
     border: black;
     display: flex;
     flex-direction: column;   
     &__header{
        background-image: url(../img/banner_servicios.jpg);
        background-repeat: no-repeat;
        height: 20rem;
        background-size: cover;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     &__titulo{
        color: white;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
     }
     &__box{
 
        display: flex;
        justify-content: space-evenly;
        animation-duration: 3s;
        animation-name: slidein;
    }
    &__container{ 
        border-width: thick;
        width: 55vh;
        border-radius: 20%;
        background-color: rgba(182, 160, 224,0.1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        box-shadow: 0 0 25px rgba(168, 178, 211, 0.7);
        margin-bottom: 2rem;
    }    
    &__icon{
        width: 3rem;
    }    
    &__titcontainer{    
        font-family: sans-serif;
        text-align: center;
    }    
    &__parrafo{
        text-align: center;
    }
 
 }
 
 @keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
 
 
 
 /*ACA TERMINA CSS SERVICIOS*/