/*CSS SERVICIOS*/

.servicios{
    
     border: black;
     display: flex;
     flex-direction: column;   
     &__titulo{
        @include titulo;
     }
     &__box{
 
        display: flex;
        justify-content: space-evenly;
        animation-duration: 3s;
        animation-name: slidein;
    }
    &__container{ 
        border-width: thick;
        width: 55vh;
        border-radius: $border;
        background-color: rgba(182, 160, 224,0.1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        box-shadow: 0 0 25px rgba(168, 178, 211, 0.7);
        margin-bottom: $block-space;
        padding: 0.5rem;
    }    
    &__icon{
        width: 3rem;
    }    
    &__titcontainer{    
        font-family: sans-serif;
        text-align: center;
    }    
    &__parrafo{
        text-align: center;
    }
 
 }
 
 @keyframes slidein {
    0% {
      opacity: 0;
    }

    50%{
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
  }
 
 
 
 /*ACA TERMINA CSS SERVICIOS*/